
h5, h3{
    color: #fff;
}

.add-product{
    border-radius: 6px;
    box-shadow: 0px 0px 35px -3px rgba(130,130,130,1);
}

.product-form form input[type="text"],
.product-form form input[type="number"]
{
    width: 100%;
    padding: 10px 10px;
}
.product-form form input{
    margin: 20px 0;
    border: none;
}
.product-form form input[type="submit"]{
    padding: 10px 20px;
    border: 1px solid rgb(109, 109, 109);
}