.food-items{
    transition: .5s all;
    background-color: #EBEDF3;
    padding: 10px;
}
@media (max-width: 512px){
    .nav-menu a{
        padding-left: 7px !important;
        padding-right: 7px !important;
    }
}
.onAdd, .onRemove{
    margin: 0 10px;
}
.cart-items{
    background-color: #EBEDF3;
    padding: 10px;
}
.category{
    background-color: #EBEDF3;
}