.nav-menu a{
    text-decoration: none;
    color: rgb(26, 24, 49);
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 600;
}
.nav-menu .login-btn{
    background-color: orangered;
    border: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}
.nav-menu img{
    width: 45px;
    border-radius: 50px;
}
.logout-btn{
    color: tomato;
    font-weight: 400;
    cursor: pointer;
}
.mini-cart button{
    background-color: darkseagreen;
}
/* .header-bar{
    position: relative;
}
.floating-cart{
    position: absolute;
    padding: 10px;
    border: 1px solid #000;
    right: 33px;
    z-index: 9;
    top: 72px;
    width: 450px;
} */