.nav-menu a{
    text-decoration: none;
    color: rgb(26, 24, 49);
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 600;
}
.nav-menu .login-btn{
    background-color: orangered;
    border: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}
.nav-menu img{
    width: 45px;
    border-radius: 50px;
}
.logout-btn{
    color: tomato;
    font-weight: 400;
    cursor: pointer;
}
