.add-to-cart-btn{
    border: none;
    color: #000;
    font-size: 25px;
    background-color: transparent;
}
.add-to-cart-btn-modal{
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #FF4500;
}
.item-image img{
    width: 60px;
}
.price h5{
    color: black;
}
.card-title{
    color: black;
}