.buy-now-btn{
    border: none;
    color: #fff;
    background-color: rebeccapurple;
    padding: 15px;
    border-radius: 4px;
    font-size: small;
}
.price h5{
    color: black;
}
.card-title{
    color: black;
}